* {
    box-sizing: border-box;
} 

html {
    min-height: 100vh;
}
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin:0 auto;
    height: 100vh; 
    max-width: 800px;
    text-align: center;
    background-image: url('imgs/background2.png');
    background-repeat: no-repeat;
    background-size: cover;

} 

.logo > img {
    width: 350px; 
    margin: 10px auto;
}

.sublogo > img { 
    width: 230px;
    margin: -1rem auto 0;
}

h2 {
    font-size: 25px;
    margin: 5px auto;
}

h3 {
    margin-top: 2px;
    font-size: 21px;
}

#game-container{
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    position: relative;
}

.card > img {
    width: 80px;
    border-radius: 15%;
    border: solid 4px rgb(180, 28, 39);
    box-shadow: 5px 5px 10px;
}

.back-card {  /*overlays over front-card image*/
    position: absolute;
    margin: 0 -80px;;
}



/*to make this responsive on phones*/
@media screen and (max-width: 480px) {
    body {
        text-align: center;
        background-size: cover;
        margin: 0;
        padding: 5px;
    }
    .logo > img {
        height: 105px;
    }
    
    .sublogo > img {
        height: 30px;
    }
    h2, h3 {
        font-size: 16px;
    } 

    h2 { 
        margin-top: 4px;
    }

    h3 {
        margin-top: -7px;
    }

    #game-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 300px;
    }

    .card > img {
        width: 60px;
        border-radius: 15%;
        border: solid 4px rgb(180, 28, 39);
        box-shadow: 5px 5px 10px;
        
    }

    .back-card {
        margin: 0 -60px;
    }
}